<div class="navbar-wagon">

  <div class="navbar-wagon">
    <%= link_to "Back to all restaurants", restaurants_path%>
  </div>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <div class="navbar-wagon-item navbar-wagon-link">
      <%= link_to "Add a new restaurant", new_restaurant_path%>
    </div>
  </div>
</div>





